@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-gelasio
}

select#location {
  display: block;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  /*-moz-padding-start: calc(0.75rem - 3px);*/
  /*font-size: 1rem;*/
  font-weight: 400;
  line-height: 1.3;
  color: #212529;
  background-color: #fff;
  background-image: url("/assets/img/chevron-down-solid.svg");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 18px 18px;
  border: 1px solid #aaa;
  border-radius: 8px;
  transition: all;
  transition-duration: 150ms;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}